[*.{cs,vb}]

# IDE0130: Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = none

# CA1050: Declare types in namespaces
dotnet_diagnostic.CA1050.severity = none

# CS1587: XML comment is not placed on a valid language element
dotnet_diagnostic.CS1587.severity = none