apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: resource-route
spec:
  parentRefs:
  - name: subdomain-gateway
  hostnames:
  - "{{ .Values.hostname.resource }}"
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /api
    filters:
    - type: URLRewrite
      urlRewrite:
        path:
          type: ReplacePrefixMatch
          replacePrefixMatch: /
    - type: RequestHeaderModifier
      requestHeaderModifier:
        set:
        - name: X-Forwarded-Prefix
          value: /api
    backendRefs:
    - name: resource-api-service
      port: {{ .Values.parameters.resource_api.port_http }}