apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: ordering-route
spec:
  parentRefs:
  - name: subdomain-gateway
  hostnames:
  - "{{ .Values.hostname.ordering }}"
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /api
    filters:
    - type: URLRewrite
      urlRewrite:
        path:
          type: ReplacePrefixMatch
          replacePrefixMatch: /
    backendRefs:
    - name: ordering-api-service
      port: {{ .Values.parameters.ordering_api.port_http }}